.wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;

}


.AncestorDetailComponent {
    margin: 10px;
    width: 20vw;
}

.AllDatesPage {
    width: 50vw;
    display: flex;
    align-items: flex-start;
}

.AskAi {
    height: 80vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}