/* Стилі для кнопки */
button {
    padding: 0.8rem;
    background: var(--text-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background: var(--text-hover);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}