.gridWrap {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5fr 5fr repeat(10, 9fr);
    gap: 6px;
    padding: 8px;
    color: var(--text-color);
}

.gridWrap > div {
    padding: 6px 10px;
    text-align: center;
}