body {
    font-family: "Nunito", sans-serif;
    background: #dfdfdf;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.mainPge {
    background: white;
    height: 100vh;
    width: 100vh;
    border-radius: 50% ;
    position: relative;
    z-index: 1;

}

/* img {*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    height: 80vh;*/
/*    object-fit: cover;*/
/*    z-index: 0;*/
/*}*/


.rightIm {
    position: absolute;
    top: 30%;
    height: 80vh;
    object-fit: cover;
    z-index: 0;
    right: -3vw; /* симетрично */
    filter: drop-shadow(-13px 11px 20px #000000);
}